.Inven {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.31);
    height: auto;
    width: 964px;
    margin-left: 0;
    margin-right: 52px;
    margin-top: 118px;
    margin-bottom: 118px;
    align-self: flex-end;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
